<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styelsheet/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <form action="">
            <input class="px-5 py-3 border-2 border-zinc-800 rounded bg-transparent " type="text" placeholder="Enter Your Name"
                class="w-full p-3 rounded-md outline-none focus:ring-2 focus:ring-blue-500 bg-zinc-800 text-white">
        </form>

    </div>
</body>

</html>